* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sue Ellen Francisco', cursive;
}
.img_div{
  display: flex;
  justify-content: center;
}
.img_div img {
  padding: auto;
  margin: 0.5%;
  width: 250px;
  height: 300px;
  border-radius: 14px;
  border: 5px solid #555;
}